In [81]:
import pandas as pd
import csv
import numpy as np
import requests
from bs4 import BeautifulSoup

In [82]:
df = pd.read_csv('Data_2-14-2023.csv')

# some cleaning up
df = df.drop('UnitID', axis=1)
df = df.drop('Unnamed: 4', axis=1)
df.head()

,Institution Name,Mission statement (IC2020mission),Mission statement URL (if mission statement not provided) (IC2020mission)
0,Abilene Christian University,NaN,www.acu.edu/about/past-present-future/who-we-a...
1,Abilene Christian University-Undergraduate Online,NaN,NaN
2,Abraham Lincoln University,NaN,www.alu.edu/about/alu-mission/
3,Academy College,Academy College’s mission is to provide our st...,NaN
4,Academy of Art University,NaN,www.academyart.edu/about-us

In [91]:
def get_mission(url):
    if not url.startswith("http://") and not url.startswith("https://"):
        url = "https://" + url
    print(url)
    response = requests.get(url)

    soup = BeautifulSoup(response.content, 'html.parser')
    the_text = None

    mission_statement = soup.find(text='Mission Statement')
    if mission_statement is None:
        mission_statement = soup.find(text='Our Mission')
    if mission_statement is None:
        mission_statement = soup.find(text='mission-statement')

    print(mission_statement)
    if not mission_statement is None:
        the_text = mission_statement.find_next_sibling('p')
        print(the_text)

    if the_text is not None:
        return the_text.get_text()
    else:
        return None

In [96]:
get_mission('https://academicprograms.calpoly.edu/cal-poly-mission-statement')

https://academicprograms.calpoly.edu/cal-poly-mission-statement
None

In [78]:
with open('output.csv', 'w', newline='') as csvfile:
    fieldnames = ['Institution Name', 'Mission statement (IC2020mission)']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()  # write the header row

    for row in df.values:
        # print(row)
        # print(row[0], row[1], row[2])
        insert_row = [row[0]]
        if str(row[1]) == 'nan':
            # print(row[2], type(row[2]))
            insert_row.append(get_mission(row[2]))
        else:
            insert_row.append(row[1])
        print(insert_row)
        break

Our Mission
None
['Abilene Christian University', None]